.heading{
    position: sticky;
    top:0;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid;
    background-color: aqua;
}
.logo
{   
    width: 200px;
    /* height: 100px; */
    display :inline-block;
}
.h{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}
p{
    width: min-content;
    background-color: aqua;
}
