<p>pipe-example works!</p>
<h1>{{firstname|uppercase}}</h1>
<h2>{{lastname|lowercase}}</h2>
<h3>{{lastname|titlecase}}</h3>
<span>{{salary|currency:'INR'}}</span><br>
<span>{{salary|currency:'EUR'}}</span><br>
<span>{{salary|currency:'USD'}}</span><br>
<span>{{dob|date:'dd-mm-yy'}} </span><br>
<span>{{dob|date:'mm-dd-yy'}} </span><br>
<span>{{dob|date:'dd-mm-yyyy'}} </span><br>
<span>{{dob|date:'yyyy-mm-dd'}} </span><br>
<span>{{dob|date:'yyyy-dd'}} </span><br>
<span>{{dob|date:'dd-MMM-YY'}} </span><br>
<span>{{age|square}}</span>
<h1>{{firstname| concat:lastname|uppercase}}</h1>